{% extends 'base.html' %}
{% block title %} Contact Us {% endblock %}
{% block content %}


<div class="container-fluid mt-5 pt-5">

</div>
<div class="container-fluid">
    <div class="row g-2">
        <div class="col-sm-12 col-md-6">
            <div class="card border border-0 text-bg-dark">
                <img src="static/images/contact_us.jpeg" class="card-img" alt="...">
                <div class="card-img-overlay mt-5">
                    <h5 class="card-title">
                        <h5 class="fs-2 fw-bold">Reach out to us</h5>
                    </h5>
                    <p class="card-text"><small> 24/7 support</small></p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="container">
                <div class="card border border-0">
                    <div class="card-body">
                        <form action="">
                        <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">What do you have in mind?</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1"></textarea>
                </div>
                </form>
                    </div>
                    <div class="card-body">
                        <a href="#" class="card-link"><h5>Join our community <i class="fa-brands fa-whatsapp" style="color: rgb(99, 230, 190)"></i></h5> </a>
                    </div>
                    <div class="card-body">
                        <a href="#" class="card-link"><h5>Send us an email <i class="fa-solid fa-envelope" style="color: #e27a0e;"></i></h5> </a>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>

{% endblock %}