{% extends 'base.html' %} 
{% block title %} Dashboard {% endblock %} 
{% blockncontent %}

<div class="container mt-5">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Products
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Products</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form action="/add_products" method="post">
          <div class="modal-body">
            <select class="form-select mb-2" aria-label="Default select example" name="cartegory_id">

              <option selected>Choose Cartegory</option>
              {% for cartegory in cartegories_data %}
              <option  value="{{ cartegory[0] }}"><p>{{ cartegory[1] }}</p></option>
              {% endfor %}
            </select>
            <select class="form-select mt-1" aria-label="Default select example" name="supplier_id">
              {% for supplier in suppliers_data %}
              <option selected> Select Suppliers</option>
              <option value="{{ supplier[0] }}"><p>{{ supplier[1] }}</p></option>
              {% endfor %}
            </select>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Product Name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                name="product_name">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Unit</label>
              <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                name="unit">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Buying Price</label>
              <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                name="buying_price">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Selling Price</label>
              <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                name="selling_price">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Brand</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="brand">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Size</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="size">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Close
              </button>
              <button type="submit" class="btn btn-primary">Add product</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>


<div class="container ">
  <form action="/add_supplier" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Full Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name">
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Address</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name = 'address'>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Phone Number</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name = "phone_no">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">City</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name = "city">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>


{% endblock %}