{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block content
%}
<style>
  @media screen and (min-width: 480px) {
    .landing_gif {
      width: 400px;
      height: 200px;
    }
  }
</style>

<div class="container text-center mx-auto p-2 mt-5 mb-3">
  <div class="row">
    <div class="col flex-sm-wrap pt-5">
      <img src="{{ url_for('static', filename='images/landing.gif') }}" alt="Welcome to our store"
        class="landing_gif" />
    </div>
  </div>
  <button href="/products" class="btn btn-primary text-light border border-0 rounded-pill p-2 px-4 fw-semibold m-3"
    style="background-color: #e27a0e">
    Shop Now
  </button>
</div>

<div class="container-fluid mt-3 mb-4" >
  <h5 class='pt-3'>Brands We Offer</h5>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner " >
      <div class="carousel-item active">
        <div class="row g-2 mx-auto p-2">
          <div class="col bg-light">
            <img src="static/images/logos/adidas.jpg" style="width: 100px; height:60px;" class="card-img " alt="...">
          </div>
          <div class="col bg-light">
            <img src="static/images/logos/calvin.png" style="width: 100px; height:60px;" class="card-img " alt="...">
          </div>
          <div class="col bg-light">
            <img src="static/images/logos/converse.png" style="width: 100px; height:60px;" class="card-img " alt="...">
          </div>
          <div class="col bg-light">
            <img src="static/images/logos/handm.png" style="width: 100px; height:60px;" class="card-img " alt="...">
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <div class="row g-2 mx-auto p-2">
          <div class="col bg-light">
            <img src="static/images/logos/levi's.jpg" style="width: 100px; height:60px;" class="card-img " alt="...">
          </div>
          <div class="col bg-light">
            <img src="static/images/logos/nike.jpg" style="width: 100px; height:60px;" class="card-img " alt="...">
          </div>
          <div class="col bg-light">
            <img src="static/images/logos/puma.png" style="width: 100px; height:60px;" class="card-img " alt="...">
          </div>
          <div class="col bg-light">
            <img src="static/images/logos/ralph.png" style="width: 150px; height:60px;" class="card-img " alt="...">
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <div class="row g-2 mx-auto p-2">
          <div class="col bg-light">
            <img src="static/images/logos/rebook.png" style="width: 100px; height:60px;" class="card-img " alt="...">
          </div>
          <div class="col bg-light">
            <img src="static/images/logos/tommy.png" style="width: 100px; height:60px;" class="card-img " alt="...">
          </div>
          <div class="col bg-light">
            <img src="static/images/logos/u_armor.png" style="width: 100px; height:60px;" class="card-img " alt="...">
          </div>
          <div class="col bg-light">
            <img src="static/images/logos/zara.png" style="width: 100px; height:60px;" class="card-img " alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-dark mt-3 pb-3">
  <div class="row g-3 pt-2">
    <h5 class="fw-semibold text-light"> Our Cartegories</h5>
    <div class="col-sm-12 col-md-6 col-lg-3 border border-0">
      <h5 class="text-center pt-2">Men's</h5>
      <div class="card border border-0">
        <img src="static/images/cartegories/men's_c.jpg" style="width: 300; height: 200px;" class="card-img-top"
          alt="..." />
        <div class="card-body bg-dark border border-0">
          <p class="card-text p-1 text-light rounded text-light border border-0">
            Everyday essentials, smart fits, and standout styles for every
            occasion.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <h5 class="text-center pt-2">Women's</h5>
      <div class="card border border-0 ">
        <img src="static/images/cartegories/women's_c.jpg" style="width: 300; height: 200px;" class="card-img-top"
          alt="..." />
        <div class="card-body bg-dark border border-0">
          <p class="card-text p-1 text-light rounded text-light">
            Trendy, elegant, and comfortable fashion designed to complement your style.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <h5 class="text-center pt-2">Shoes</h5>
      <div class="card border border-0">
        <img src="static/images/cartegories/shoes_c.jpg" style="width: 300; height: 200px;" class="card-img-top"
          alt="..." />
        <div class="card-body bg-dark border border-0">
          <p class="card-text p-1 text-light rounded text-light">
            Step into comfort with sneakers, boots, heels, and everyday footwear.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <h5 class="text-center pt-2">Accessories</h5>
      <div class="card border border-0">
        <img src="static/images/cartegories/accessories_c.jpg" style="width: 300; height: 200px;" class="card-img-top"
          alt="..." />
        <div class="card-body bg-dark border border-0">
          <p class="card-text p-1 text-light rounded text-light">
            Complete your look with bags, belts, caps, watches, and more.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container mt-3">
  <div class="row g-3">
    <h5>About Us</h5>
    <div class="col-sm-12 col-md-6">
      <div class="container ">
        <div class="card text-bg-dark border border-0 rounded">
          <img src="static/images/about_us.jpg" class="card-img" alt="...">
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 ">
      <div class="container pt-2">
        <div class="card text-center border border-0">
          <div class="card-body border border-0">

            <p class="card-text">We believe great style should be accessible to everyone. That's why we carefully select
              quality clothing from trusted brands, offering fashion that combines comfort, durability, and modern
              design.
            </p>
            <button type="submit"
              class="btn btn-primary text-light border border-0 rounded-pill p-2 px-4 fw-semibold m-3"
              style="background-color: #e27a0e"><a class="nav-link active" href="/login">Login</a>

            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="container-fluid mt-3 bg-dark ">
  <h5 class="text-light pt-3">Why Shop With Us?</h5>
  <div class="row g-4 mx-2 mt-4 mb-2">
    <div class="card text-center border border-0 col-sm-12 col-md-6 col-lg-3 bg-dark">
      <i class="fa-sharp fa-solid fa-truck-fast fa-float fa-2xl mx-auto p-2 mt-3"
        style="color: rgb(244, 118, 0); margin-bottom: 20px"></i>
      <div class="card-body">
        <h5 class="card-title mb-3" style="color: #e27a0e">Fast Shipping</h5>
        <p class="card-text text-light">
          Get your orders delivered in as little as 2 days, with real-time
          tracking every step of the way.
        </p>
      </div>
    </div>
    <div class="card text-center border border-0 col-sm-12 col-md-6 col-lg-3 bg-dark">
      <i class="fa-solid fa-credit-card fa-float fa-2xl fa-2xl mx-auto p-2 mt-3"
        style="color: rgb(244, 118, 0); margin-bottom: 20px"></i>
      <div class="card-body">
        <h5 class="card-title mb-3" style="color: #e27a0e">Secure Checkout</h5>
        <p class="card-text text-light">
          Shop with confidence using encrypted payments and support for all
          major cards and digital wallets.
        </p>
      </div>
    </div>
    <div class="card text-center border border-0 col-sm-12 col-md-6 col-lg-3 bg-dark">
      <i class="fa-sharp-duotone fa-solid fa-handshake fa-float fa-2xl mx-auto p-2 mt-3"
        style="color: rgb(244, 118, 0); margin-bottom: 20px"></i>
      <div class="card-body">
        <h5 class="card-title mb-3" style="color: #e27a0e">Easy Returns</h5>
        <p class="card-text text-light">
          Not happy with your order? Return it hassle-free within 3 days for a
          full refund or exchange.
        </p>
      </div>
    </div>
    <div class="card text-center border border-0 col-sm-12 col-md-6 col-lg-3 bg-dark">
      <i class="fa-solid fa-ghost fa-float fa-2xl fa-width-auto mx-auto p-2 mt-3"
        style="color: rgb(244, 118, 0); margin-bottom: 20px"></i>
      <div class="card-body">
        <h5 class="card-title mb-3" style="color: #e27a0e">24/7 Support</h5>
        <p class="card-text text-light">
          Our customer support team is here around the clock to help with
          orders, questions, and everything in between.
        </p>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}