{% extends 'base.html' %}
{% block  title %} products {% endblock %}
{% block content %}


<div class="container-fluid mt-5 p-5">
    this is the projects page
</div>

<div class="container">
    <table id="example" class="display">
		<thead>
			<tr>
				<th>Name</th>
				<th>units</th>
				<th>price</th>
			</tr>
		</thead>
		<tbody>
			{% for products in products_data %}
			<tr>
				<td>{{ products[3] }}</td>
				<td>{{ products[4] }}</td>
				<td>{{ products[6] }}</td>
				{% endfor %}
			</tr>
        </tbody>
    </table>
</div>

{% endblock %}