{% extends 'base.html' %} {% block title %} products {% endblock %} {% block
content %}

<div class="container-fluid mt-5 p-5">this is the projects page</div>

<div class="container">
  <div class="container app-container">
    <div class="app-bg">
      <div class="left-side"></div>
      <div class="right-side"></div>
    </div>



    <div class="container content">
      <div class="products-preview">
        <div class="products-container">
          <div class="container-fluid bg-dark mt-3 pb-3">
            <h5 class="pt-3">Featured products</h5>
            <p class="text-light">Discover our most popular picks</p>
            <div class="row g-2">
              <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card">
                  <img src="static/images/shirts/t1.png" alt="t-shirt 1" />
                  <div class="card-body">
                    <div class="item">
                      <div class="item-container">
                        <div class="desc">
                          <h2>T-shirt 1</h2>
                          <h2><small>$</small>29.99</h2>
                          <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Ipsum, dicta!
                          </p>
                        </div>
                        <div class="add-to-wishlist">
                          <img src="static/images/icons/heart.png" alt="add to wish list" />
                        </div>
                        <div class="add-to-cart">
                          <img src="static/images/icons/bag-plus.png" alt="add to cart" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card">
                  <img src="static/images/shirts/t2.png" alt="t-shirt 1" />
                  <div class="card-body">
                    <div class="item">
                      <div class="item-container">
                        <div class="desc">
                          <h2>T-shirt 1</h2>
                          <h2><small>$</small>29.99</h2>
                          <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Ipsum, dicta!
                          </p>
                        </div>
                        <div class="card-body p-0">
                          <div class="add-to-wishlist w-25">
                            <img src="static/images/icons/heart.png" alt="add to wish list" />
                          </div>
                          <div class="add-to-cart">
                            <img src="static/images/icons/bag-plus.png" alt="add to cart" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card">
                  <img src="static/images/shirts/t3.png" alt="t-shirt 1" />
                  <div class="card-body">
                    <div class="item">
                      <div class="item-container">
                        <div class="desc">
                          <h2>T-shirt 1</h2>
                          <h2><small>$</small>29.99</h2>
                          <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Ipsum, dicta!
                          </p>
                        </div>
                        <div class="add-to-wishlist">
                          <img src="static/images/icons/heart.png" alt="add to wish list" />
                        </div>
                        <div class="add-to-cart">
                          <img src="static/images/icons/bag-plus.png" alt="add to cart" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card">
                  <img src="static/images/shirts/t4.png" alt="t-shirt 1" />
                  <div class="card-body">
                    <div class="item">
                      <div class="item-container">
                        <div class="desc">
                          <h2>T-shirt 1</h2>
                          <h2><small>$</small>29.99</h2>
                          <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Ipsum, dicta!
                          </p>
                        </div>
                        <div class="add-to-wishlist">
                          <img src="static/images/icons/heart.png" alt="add to wish list" />
                        </div>
                        <div class="add-to-cart">
                          <img src="static/images/icons/bag-plus.png" alt="add to cart" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container products-list mt-5">
    <div class="container products">
      <!-- render porducts here -->
    </div>
  </div>

  <form action="/make_sale" method="post">
  <div class="container cart">
    <table class="table">
      <thead>
        <div class="cart-header">
          <tr>
            <th scope="col">#</th>
            <th scope="col">
              <div class="column1">Item</div>
            </th>
            <th scope="col">
              <div class="column2">Unit price</div>
            </th>
            <th scope="col">
              <div class="column3">Units</div>
            </th>
          </tr>
        </div>
      </thead>
      
      <tbody class="cart-items" >
        
        <!-- render cart item <tr> rows here -->
        
      </tbody>
      
      <tfoot>
        <tr>
          <th>
            <p>Totals</p>
          </th>
          <td>
            <div class="cart-footer">
              <div class="subtotal">Subtotal (0 items): $0</div>
            </div>
          </td>
          <td>
            <div class="cart-footer">
              
              
              <button type="submit" class="checkout">Proceed to checkout</button>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  </form>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <h5>make sale</h5>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Purchase product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}