{% extends 'base.html' %}
{% block title %} shop {% endblock %}
{% block content %}



<div class="container-fluid mt-5 pt-5">
    <h5 class="fw-bold text-center fs-2"><i class="fa-solid fa-fire fa-float fa-2xl mx-3" style="color: #e27a0e;"></i>
        Hot picks</h5>


</div>



<div class="container">
  <hr>
</div>


<div class="container-fluid mt-5 ">
    <h5 class="fw-bold ">Men's collection</h5>
</div>



<div class="container">
  <hr>
</div>


<div class="container-fluid mt-5">
    <h5 class="text-center fw-bold fs-2"><i class="fa-solid fa-tag fa-float fa-2xl mx-3"
            style="color: #e27a0e;"></i>Featured products</h5>

</div>


<div class="container">
  <hr>
</div>


<div class="container-fluid mt-5 ">
    <h5 class="fw-bold ">Women's collection</h5>
</div>


<div class="container">
  <hr>
</div>

<div class="container-fluid mt-5 ">
    <h5 class="text-center fs-2 fw-bold"><i class="fa-solid fa-tower-broadcast fa-float fa-2xl mx-3"
            style="color: #e27a0e;"></i>Trending</h5>
</div>


<div class="container">
  <hr>
</div>

<div class="container-fluid mt-5 ">
    <h5 class="fw-bold ">Shoes</h5>

    <div class="container-fluid products-list mt-5">
    <div class="row g-1 shoes">
      
      <!-- render shoes here -->
      
    </div>    
    </div>

</div>




<div class="container">
  <hr>
</div>


<div class="container-fluid mt-5 ">
    <h5 class="fw-bold ">Accessories</h5>
</div>

<div class="container mt-5">
    <p>{{ cartegories_data[1][1] }}</p>
</div>

<div class="container">
    <p>{{ unit_data }}</p>
</div>

{% endblock %}