{% extends 'base.html' %}
{% block  title %} shop {% endblock %}
{% block content %}



<div class="container-fluid mt-5 pt-5">
    <h5>Hot picks</h5>
</div>

<div class="container-fluid mt-5 ">
    <h5>Men's collection</h5>
</div>

<div class="container-fluid mt-5">
    <h5>Featured products</h5>
</div>

<div class="container-fluid mt-5 ">
    <h5>Women's collection</h5>
</div>

<div class="container-fluid mt-5 ">
    <h5>Trending</h5>
</div>

<div class="container-fluid mt-5 ">
    <h5>Shoes</h5>
</div>

<div class="container-fluid mt-5 ">
    <h5>Accessories</h5>
</div>

<div class="container mt-5">
    <p>{{ cartegories_data[1][1] }}</p>
</div>

{% endblock %}